<div class="message mb-2 <%= 'me' if message.user == current_user %>">
  <div class="content-container" id="message-<%=message.id %>">
    <div class="content">
      <p class= "mb-0"> <%= message.content %></p>
    </div>
    <div class="author">
      <%= message.user.username %>
    </div>
  </div>
</div>
